# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
dist
/.pnp
.pnp.*

# testing
coverage

# logs
test-logs*
dev-server.log

# next.js
.next/
out/

# production
build

# misc
.DS_Store
*.pem
temp
.temp

# debug
.pnpm-debug.log*

# env files
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

